.style-switcher {
  position: fixed;
  right: 0;
  top: 60px;
  padding: 15px;
  width: 200px;
  border: 1px solid var(--bg-blsck-50);
  background: var(--bg-black-100);
  z-index: 101;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);
}

#day-night {
  top: 3rem;
}
#themebtn {
  top: 6rem;
}
.color-menu {
  position: absolute;
  top: 6rem;
  right: 15rem p;
  display: flex; /* Display color options in a row */
  flex-wrap: wrap; /* Wrap color options to the next row if necessary */
  gap: 5px; /* Add gap between color options */
  background-color: var(--bg-black-100); /* Set background color */
  padding: 10px; /* Add padding */
  border-radius: 5px; /* Add border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
  z-index: 102; /* Ensure the menu appears above other elements */
}

.color-option {
  width: 30px; /* Set width of each color option */
  height: 30px; /* Set height of each color option */
  border-radius: 50%; /* Make each color option circular */
  cursor: pointer; /* Add pointer cursor */
}

.color-option:hover {
  border: 2px solid #fff; /* Add border on hover */
}

.style-switcher .s-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: var(--bg-black-100);
  color: var(--text-black-900);
  right: 100%;
  border: 1px solid var(--bg-blsck-50);
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.style-switcher .s-icon i {
  line-height: 40px;
}
.style-switcher .style-switcher-toggler {
  top: 0;
}
.style-switcher .toggler {
  top: 55px;
}
.style-switcher h4 {
  margin: 0 0 10px;
  color: var(--text-black-700);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.style-switcher .colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.style-switcher .colors span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid royalblue;
}
.style-switcher .color-1 {
  background: royalblue;
}
.style-switcher .color-2 {
  background: #e30959;
}
.style-switcher .color-3 {
  background: #ec6d18;
}
.style-switcher .color-4 {
  background: #18e5ec;
}
.style-switcher .color-5 {
  background: #18eca5;
}
